<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Vue</title>
    
</head>
<body>
    <div id="app">
        <!-- v-conditional rendering -->
        <div v-if="showInfo">
            <!-- v-for directive -->
            <div v-for="person in people">
                <p>Name : {{person.name}}</p>
                <p>Sex : {{person.sex}}</p>
                <p>Age : {{person.age}}</p><hr>
            </div>
        </div>
        <!-- <button @click="showInfo=true">Show Info</button>
        <button @click="showInfo=false">Hide Info</button> -->
        <!-- toggle button -->
        <!-- <button @click="showInfo=!showInfo">toggle info
        </button> -->
        <button @click="showInfo=!showInfo">
            <span v-if="showInfo">hide</span>
            <span v-if="!showInfo">show</span>
        </button>
        <br>
       
        <!-- v-bind for attribute -->
        <a :href="link">Google</a>
    </div>
    <script src="app.js"></script>
</body>
</html>