<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Vue</title>
    <style>
        .fav{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div id="app">
        {{favPerson}}
        <!-- v-conditional rendering -->
        <div v-if="showInfo">
            <!-- v-for directive -->
            <div v-for="person in filterFavPerson" :class="{fav:person.isFav}" @click="clickFav(person)"> <!--add class for data bind and add favourite book--><!-- @click="person.isFav=!person.isFav" -->
                
                <!-- show image using v-bind for attribute -->
                <img :src="person.image" alt="Image" width="300" height="200">
                <p>Name : {{person.name}}</p>
                <p>Sex : {{person.sex}}</p>
                <p>Age : {{person.age}}</p><hr>
            </div>
        </div>
      
       
    </div>
    <script src="app.js"></script>
</body>
</html>